.ProfileCard {
    background-color: transparent;
    background-color: rgb(247, 247, 247);
    /* background: #12c2e9;  
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); */
}


/* .dashboardsidelink{
    font-size: 30px;
}
.dashboardsidelink:hover{
    font-weight: bold;
}
*/

.NavBarContaineritem {
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    height: 10px;
    color: #000000;
}

.NavBarContaineritem a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sidebarcontainer {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

*/ .memberContainerBox ul li a {
    color: #000000;
    cursor: pointer;
}


/* ------------------------------------ */

.viwe_profile_container {
    width: 100%;
}

.rounded-circle {
    height: 100px;
    width: 100px;
    margin: 5px;
}

.profilecardcontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.outercard {
    background-color: rgb(6, 5, 5);
}

.plancardbody {
    background-color: rgb(255, 255, 255);
}